.pagination-post-container{
    margin: 70px 30px 0px 30px ;
}

.latest-post{
    color: #808080;
    font-size: 15px;
    font-family: sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-bottom:15px;
}

.dark .latest-post{
    color: #e1e1e1;
}

.pagination-posts {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.pagination-posts  img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.pagination-post_info{
    text-align: start;
}


/* post-category_name-tim {} */

.post-category_name-time{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}


.post-category_name-time span:nth-child(1){
    font-size: 12px;
    font-family: sans-serif;
    border: 1px solid #4d4d4d;
    border-radius: 15px;
    padding: 4px 6px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.post-category_name-time span:nth-child(1):hover {
    background-color: black;
    color: white;
}


.post-category_name-time span:nth-child(2){
    color: black;
    font-size: 14px;
    font-family: sans-serif;
}


/* 
.pagination-post_title-des{} */

.pagination-post_title-des{
    display: flex;
    flex-direction: column;
}

.pagination-post_title-des span:nth-child(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    color: #333333;
}

.pagination-post_title-des span:nth-child(2){
    font-weight: 500;
    font-size: 15px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color:#737373;
}


.pagination-buttons {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination-buttons button {
    border: 1px solid  #666666;
    border-radius: 23px;
    padding: 5px 8px;
    font-size: 13px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.pagination-buttons button:hover {
    background-color: black;
    color: white;
}


 /* post-authors */

 .post-authors{
    margin-top: 15px;
    display: flex;
    text-align: start;
    font-size: 14.4px;
}

.post-authors {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
}

.overlap {
    position: relative;
    left: -10px;
    z-index: -99;
}

 /* pagination-post dark mode*/


.dark .pagination-post_title-des span:nth-child(1) {
    color: white;
}

.dark .pagination-post_title-des span:nth-child(2) {
    color: #e1e1e1;
}

.dark .post-category_name-time span:nth-child(1) {
    color: white;
}

.dark .post-category_name-time span:nth-child(1):hover {
    background-color: white;
    color: black;
}

.dark .post-category_name-time span:nth-child(2) {
    color: #e1e1e1;
}

.dark .pagination-buttons button{
    color: #e1e1e1;
}

.dark .pagination-buttons  button:hover{
   background-color: white;
   color: black;
}



/* responsive in mobile and tablet */

@media only screen and (max-width: 900px) {
    .pagination-post-container {
        margin: 20px;
      }
  
      .pagination-posts{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
  
      }
}


@media (max-width: 660px) {
    .pagination-post-container {
      margin: 20px;
    }

    .pagination-posts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}