.bg {
    margin: 70px 30px 0px 30px ;
}

h1 {
    font-size: 55px;
    font-family: sans-serif;
    font-weight: 700;
    color: #262626;
}

span {
    font-weight: 400;
    font-size: 53px;
    font-family: sans-serif;
    color: #4d4d4d;
}

.dark .bg h1 {
    color: white;
}

.dark .bg span {
    color: white;
}

/* responsive in mobile and tablet */

@media only screen and (max-width:800px) {
    .bg {
        margin: 30px 20px 0px 20px ;
    }

    .bg h1 {
        font-size: 35px;
        color: #4d4d4d;
    }

    .bg span {
        font-size: 26px;
        color: #4d4d4d;
    }

    .dark h1 {
        color: white;
    }

    .dark span {
        color: white;
    }

}


@media (max-width: 560px) {
    .bg {
        margin: 20px 20px 0px 20px ;
    }

    .bg h1 {
        font-size: 30px;
        color: #4d4d4d;
    }

    .bg span {
        font-size: 24px;
        color: #4d4d4d;
    }

    .dark h1 {
        color: white;
    }

    .dark span {
        color: white;
    }
}