.author-details-container {
  margin: 100px 30px 0px 30px;
}

.author-details {
  max-width: 450px;
  text-align: center;
  margin: auto;
}

.author-details img {
  width: 150px;
  height: 140px;
  object-fit: cover;
  border: 2px solid #737373;
  border-radius: 100%;
}

.author-details h2 {
  margin-top: 15px;
  color: #333333;
  font-family: sans-serif;
}

.author-details p {
  margin-top: 15px;
  color: #737373;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.7;
}

/* auth-blogs */

.auth-blogs {
  margin-top: 100px;
}

.auth-blog {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.auth-blog img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

/* blog-category_name-tim {} */

.blog-info {
  text-align: start;
}

.blog-categoryname-time {
  display: flex;
  align-items: center;

  margin-top: 15px;
}

.blog-categoryname-time span:nth-child(1) {
  font-size: 12px;
  font-family: sans-serif;
  border: 1px solid #4d4d4d;
  border-radius: 15px;
  padding: 4px 6px;
  color: black;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.blog-categoryname-time span:nth-child(1):hover {
  background-color: black;
  color: white;
}

.blog-categoryname-time span:nth-child(2) {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
}

/* 
.pagination-post_title-des{} */

.blog-title-des {
  display: flex;
  flex-direction: column;
}

.blog-title-des h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 15px;
  color: #333333;
}

.blog-title-des p {
  font-weight: 500;
  font-size: 15px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #737373;
}

/* blog-authors */
.blog-authors-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.blog-authors {
  display: flex;
}

.blog-author img {
  width: 30px;
  height: 30px;
  border: 2px solid #737373;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -10px;
}
.blog-author:first-child {
  z-index: 1;
}

.blog-author:last-child {
  z-index: 0;
}

.blog-authorsname {
  display: flex;
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif;
  gap: 10px;
}

/* dark mode */

.dark .blog-categoryname-time span:nth-child(1):hover(1) {
  background-color: white;
  color: black;
}

.dark .blog-title-des h3,
.dark .author-details h2 {
  color: white;
}

.dark .blog-info p,
.dark .blog-title-des span,
.dark .author-details p {
  color: #f2f2f2;
}

/* responsive in mobile and tablet */

@media (max-width: 900px) {
  .auth-blogs {
    margin-top: 70px;
  }

  .auth-blog {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .auth-blogs {
    margin-top: 50px;
  }

  .auth-blog {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
