*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark{
    z-index: -1;
    background-color: black;
}


.loading{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 100px;
}